*{
    padding: 0px;
    margin:0px;
}
/*h1{
	text-align: center;
	padding: 30px;
	background-color: #87CEFA;
	font-size: 70pt;
	font-family: 'Bowlby One', cursive;
	color: 	black;
	text-shadow: 8px 8px 8px #F5FFFA;
}*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    box-shadow: 5px 5px black;

}
audio{
  text-align: center;
}
body{
	background-color: #00BFFF;
}


li{
    display:inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
}

/* Change the link color to #111 (black) on hover */
li :hover {
    background-color: #111;
}
.wrapper{
	background-image: url('package.gif');
	background-position: cover;
	height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.footer{
   text-align: center;
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background: black;
   color: white;
   font-family: 'IBM Plex Sans', sans-serif;
}
@function makelongshadow($length,$angle) {
  $val: 0px 0px transparent;
  @for $i from 1 through $length {
    $val: #{$val}, #{$i}px #{$i*$angle}px #aaa;
  }
  @return $val;
}
h1 {
  /*text-decoration: underline;*/
  color: red;
  text-align: center;
  font-family: 'Fascinate', cursive;
  font-size: 20vmin;
  font-weight: 700;
  background-color: #00BFFF;
  text-shadow: 4px 4px black;
  animation: netflix_style 3.5s;
  outline: none;
  white-space: nowrap;
  margin-top: ;
}
p{
	text-align: center;
	background-color: #00BFFF;
	padding-right: 15%;
	padding-left: 15%;
	padding-bottom: 2%;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 15pt;

}

@keyframes netflix_style {
  0% {
    text-shadow: makelongshadow(100,1);
    color:#f3f3f3;
    transform: scale(1.5, 1.5);
  }
  10% {
    text-shadow: makelongshadow(100,1.5);
    color:#f3f3f3;
    transform: scale(1.5, 1.5);
  }
  15% {
     color:#f3f3f3;
  }
  20% {    
    color:#e90418;
    text-shadow: none;
    transform: scale(1.1, 1.1);
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;    
    color:#e90418;
    transform: scale(0.85, 0.9);
  }
  
  100% {
    opacity: 0;
  }
}